
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Colors */

/*
60% of #EDA03C - Primary
30% of #31C886 - Secondary
10% of #C89DFC - Accent
*/

:root {

/* var(--primaryColor) !important;*/
--primaryColor: #996623;

/* var(--secondaryColor) !important;*/
--secondaryColor: #1b7f51;

/* var(--accentColor) !important;*/
--accentColor: #662399;

/* var(--fontFamily) !important;*/
--fontFamily: "Zilla Slab", serif;

}