/* Colors */

/*
60% of #EDA03C - Primary
30% of #31C886 - Secondary
10% of #C89DFC - Accent
*/

:root {

/* var(--primaryColor) !important;*/
--primaryColor: #EDA03C;

/* var(--secondaryColor) !important;*/
--secondaryColor: #31C886;

/* var(--accentColor) !important;*/
--accentColor: #C89DFC;

}