@import 'Global.css';
@import 'Main.css';

.wrapper-body {
    background-image: url("/Images/background-image.jpg"); ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper-main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #fffffd;
    padding: 25px;
    margin-bottom: 0;
}

.wrapper-content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.content-table thead tr th {
    background-color: #996623;
    color: #ffffff;
}

.content-table th,
.content-table td {
    padding: 12px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}