@import 'Global.css';
@import 'Main.css';

body {

    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 80px;
    color: rgb(148, 147, 148);
}

.blinn-fa-icon {
    background-color: var(--secondaryColor) !important;
}