@import 'Global.css';
@import 'Main.css';

p {

    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 80px;
    color: rgb(148, 147, 148);
}

.blinn-fa-icon {
    background-color: var(--secondaryColor) !important;
    padding: 50px:
}

.paragraph-one {
    postion: relative;
    float: right;
    max-width: 350px
    width: 100%;
    height: auto;
}