<footer>
  <div class="container-fluid text-center blinn-fa-icon">
    <div class="row">
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-bolt blinn-fa-icon"></i></div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-car blinn-fa-icon"></i></div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-ghost blinn-fa-icon"></i></div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-mug-hot blinn-fa-icon"></i></div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-pen blinn-fa-icon"></i></div>
      <div class="col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"><i class="fa-solid fa-umbrella blinn-fa-icon"></i></div>
    </div>
  </div>
</footer>
