<footer>
  <!--begin footer row-->
  <div class="container-fluid text-center blinn-fa-icon">
    <div class="row">
      <div class="col col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"></div>
    </div>
  </div>

  <!--end footer row-->
</footer>
